* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  color: #272a31; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  box-sizing: border-box; }

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(105deg, rgba(3, 31, 55, 0.95) 50%, rgba(164, 190, 205, 0.3) 80%), url(imgs/hero-big.jpg) no-repeat;
  background-size: cover;
  background-position: left top; }
  .header .top-bar {
    background-image: linear-gradient(120deg, #000 50%, #031f37 51%);
    height: 2.5rem; }
    .header .top-bar__menu {
      display: flex;
      justify-content: flex-end;
      padding-top: 0.5rem;
      width: 80%;
      margin: auto; }
    .header .top-bar__list {
      margin-right: 1rem; }
    .header .top-bar__links {
      color: #d3d3d3; }
      .header .top-bar__links:hover {
        color: #a4becd; }
      .header .top-bar__links .fab {
        color: #fff; }
        .header .top-bar__links .fab:hover {
          color: #a4becd; }
  .header .logo-img {
    width: auto;
    height: 7rem; }
  .header .nav {
    background-color: #a4becd; }
    .header .nav__container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
    .header .nav__menu {
      display: flex;
      align-items: center; }
    .header .nav__list {
      padding-right: 1rem; }
      .header .nav__list:last-child .nav__links {
        border: 2px solid #031f37;
        padding: 0.5rem;
        border-radius: 3px; }
        .header .nav__list:last-child .nav__links:hover {
          background-color: #031f37;
          color: #a4becd; }
    .header .nav__links, .header .nav__links:link, .header .nav__links:visited {
      text-transform: uppercase;
      font-size: 1.1rem;
      border-bottom: 1px solid transparent;
      transform: translateY(0);
      transition: all 0.3s; }
    .header .nav__links:active, .header .nav__links:hover {
      color: #031f37;
      transform: translateY(-2px);
      border-bottom: 1px dotted #031f37; }
  .header__content {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #a4becd; }
    .header__content--theme {
      color: #d3d3d3;
      font-size: 2rem;
      font-weight: 100; }
  .header .heading {
    max-width: 76.8rem; }
    .header .heading-sub, .header .heading-theme, .header .heading-primary, .header .heading-date, .header .heading-venue {
      color: #a4becd;
      padding: 1rem 0; }
    .header .heading-sub {
      font-size: 3rem;
      font-weight: 100;
      text-transform: uppercase; }
    .header .heading-primary {
      position: relative;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 8rem;
      font-weight: 900;
      line-height: 1.05;
      letter-spacing: -2px;
      background-position: top right;
      color: #000;
      text-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
      z-index: 50; }
      .header .heading-primary::after {
        content: "DEF CON UYO - NIGERIA 2020";
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(164, 190, 205, 0.6)), url(imgs/dcsite-bg-ret.jpg);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        position: absolute;
        z-index: 100;
        top: 1px;
        left: 1.5px; }
    .header .heading-theme {
      font-size: 2rem; }
    .header .heading-date {
      font-size: 5rem;
      font-weight: 700;
      color: #fff;
      letter-spacing: -2px; }
    .header .heading-venue {
      font-size: 1.5rem;
      display: inline-block;
      background-color: rgba(3, 31, 55, 0.85);
      padding-left: 1rem;
      padding-right: 1rem; }

.section-heading {
  color: #272a31;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 2rem;
  position: relative; }

.section-button {
  font-size: 1.5rem;
  margin: 2rem 0;
  padding: 1.5rem;
  text-transform: uppercase;
  border: none;
  background-color: #031f37;
  color: #a4becd;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.3s; }
  .section-button:hover {
    color: #fff; }

.program-section {
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.4), rgba(164, 190, 205, 0.3)), url(imgs/brilliant.png);
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .program-section .program-section__events {
    width: 80%;
    margin: 3.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem; }
    .program-section .program-section__events--item {
      background: rgba(164, 190, 205, 0.2);
      font-size: 2rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 3px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease-in-out; }
      .program-section .program-section__events--item:hover {
        background: rgba(164, 190, 205, 0.4);
        box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.2); }
    .program-section .program-section__events-icon {
      font-size: 6rem; }
      .program-section .program-section__events-icon .fa {
        color: rgba(3, 31, 55, 0.8); }
    .program-section .program-section__events-title {
      color: #031f37;
      font-size: 3rem;
      font-weight: 300; }
    .program-section .program-section__events-info {
      font-weight: 300; }

.speaker-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0; }
  .speaker-section-container {
    width: 80%;
    margin: 0 auto; }
  .speaker-section .speakers {
    display: grid;
    grid-template-columns: repeat(2, 32rem);
    grid-gap: 3rem; }
    .speaker-section .speakers__speaker {
      display: flex;
      justify-content: center; }
      .speaker-section .speakers__speaker--photo {
        height: 12rem;
        border-radius: 2rem;
        transition: all 0.4s; }
        .speaker-section .speakers__speaker--photo:hover {
          transform: translateY(-1px) scale(1.1); }
      .speaker-section .speakers__speaker--info {
        align-self: center;
        padding-left: 1.5rem;
        font-size: 1.5rem;
        font-weight: 300; }
      .speaker-section .speakers__speaker--name {
        font-weight: 700;
        color: #031f37; }
      .speaker-section .speakers__speaker--profile {
        font-weight: 100;
        font-style: italic;
        color: #888; }
        .speaker-section .speakers__speaker--profile:hover {
          color: #555; }
      .speaker-section .speakers__speaker--bio {
        text-align: justify; }

.partners-section {
  background: linear-gradient(rgba(164, 190, 205, 0.4), rgba(3, 31, 55, 0.5));
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.partners-container {
  width: 80%;
  margin: 0 auto; }

.partners__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.partners__photo {
  width: 18rem;
  filter: grayscale(100%);
  transition: all 0.4s; }
  .partners__photo:hover {
    filter: grayscale(0); }
