:root {
  --blue-dark: #031f37;
  --blue-mid: #5d8ba5;
  --blue-light: #a4becd;
  --dark: #272a31;
  --gray: #d3d3d3;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  color: var(--dark);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  box-sizing: border-box;
}
