.partners {
  &-section {
    background: linear-gradient(rgba($blue-light, 0.4), rgba($blue-dark, 0.5));
    padding: 8rem 0;

    @include flexCenter;
  }

  &-container {
    width: 80%;
    margin: 0 auto;
  }

  &__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__photo {
    width: 18rem;
    filter: grayscale(100%);
    transition: all 0.4s;

    &:hover {
      filter: grayscale(0);
    }
  }
}
